* {
  transition: all 0.2s ease;
}

.message {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.message-user-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-user-name {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}

.message-text {
  padding: 10px 20px;
  border-radius: 50px;
  border-radius: 2rem 2.8rem 2.8rem 0;
  border: 3px solid #c3c3c3;
  max-width: 500px;
  word-wrap: break-word;
}

.message-time {
  font-size: 14px;
  line-height: 1;
  color: #717171;
}

.message-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.message-text-button {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

button {
  margin-left: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #a5a5a5;
}

.message-like {
  margin-left: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.message-liked {
  margin-left: 10px;
  color: #e42828;
}
